<header class="bg-white h-16 shadow-sm border-b border-gray-200 flex items-center justify-between px-4 md:px-6 z-10">
  
  <div class="flex items-center">
    <!-- Botón hamburguesa visible solo en móviles -->
    <button (click)="sidebarService.toggle()" class="lg:hidden p-2 text-azul-clinico hover:bg-gray-100 rounded mr-4">
      <i class="pi pi-bars text-xl"></i>
    </button>
    <h1 class="text-lg md:text-xl font-bold text-gray-800">Camarena Digital</h1>
  </div>

  <div class="flex items-center space-x-4">
    <button (click)="lluqsiy()" class="text-gray-500 hover:text-rojo-alerta transition-colors text-sm font-bold flex items-center">
      <i class="pi pi-sign-out mr-2"></i> <span class="hidden md:inline">Salir</span>
    </button>
  </div>
</header>