<!-- Lluq'i waqaychana (Contenedor lateral izquierdo) -->
<aside class="w-64 bg-azul-clinico text-white flex flex-col h-full shadow-lg">
  
  <!-- Umalliq (Header del Logo) -->
  <div class="h-16 flex items-center justify-center border-b border-blue-800">
    <i class="pi pi-shield text-2xl mr-2 text-verde-esmeralda"></i>
    <span class="font-bold text-lg tracking-wider">Camarena ERP</span>
  </div>

  <!-- Ñankuna (Rutas de navegación) -->
  <nav class="flex-1 overflow-y-auto py-4">
    <ul class="space-y-1">
      
      <!-- Qallariy (Dashboard Admin) -->
      <li>
        <a routerLink="/dashboard" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-chart-bar mr-3"></i>
          Qallariy (Dashboard)
        </a>
      </li>

      <!-- Recepción y Transaccional (Flujo 1.3) -->
      <li class="pt-4 pb-2 px-6 text-xs font-semibold text-gray-400 uppercase tracking-wider">
        Chaskiy (Recepción)
      </li>
      <li>
        <a routerLink="/pacientes" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-users mr-3"></i>
          Unquqkuna (Pacientes)
        </a>
      </li>
      <li>
        <a routerLink="/transaccional" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-shopping-cart mr-3"></i>
          Musuq Mañakuy (Nueva Orden)
        </a>
      </li>

      <!-- Tópico y Logística (Flujo 1.4 y 3.3) -->
      <li class="pt-4 pb-2 px-6 text-xs font-semibold text-gray-400 uppercase tracking-wider">
        Yawar Hurquy (Tópico)
      </li>
      <li>
        <a routerLink="/topico" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-list mr-3"></i>
          Muestrakuna (Toma de Muestras)
        </a>
      </li>

      <!-- Laboratorio y Resultados (Flujo 1.5) -->
      <li class="pt-4 pb-2 px-6 text-xs font-semibold text-gray-400 uppercase tracking-wider">
        Yachay Wasi (Laboratorio)
      </li>
      <li>
        <a routerLink="/resultados" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-microchip mr-3"></i>
          Lluqsiyninkuna (Resultados)
        </a>
      </li>



      <li class="pt-4 pb-2 px-6 text-xs font-semibold text-gray-400 uppercase tracking-wider">
        inventario
      </li>
      <li>
        <a routerLink="/inventario" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-list mr-3"></i>
          inventario
        </a>
      </li>


      <li class="pt-4 pb-2 px-6 text-xs font-semibold text-gray-400 uppercase tracking-wider">
        catalogoExamenes
      </li>
      <li>
        <a routerLink="/catalogo" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-list mr-3"></i>
          CATALOGO
        </a>
      </li>


      <li class="pt-4 pb-2 px-6 text-xs font-semibold text-gray-400 uppercase tracking-wider">
        Roles
      </li>
      <li>
        <a routerLink="/personal" routerLinkActive="bg-blue-800 border-l-4 border-verde-esmeralda" class="flex items-center px-6 py-3 hover:bg-blue-800 transition-colors cursor-pointer text-sm">
          <i class="pi pi-list mr-3"></i>
          Roles
        </a>
      </li>

    </ul>
  </nav>

</aside>